<div class='nested-fields'>
  <div class="field">
    <%= f.label :image %>
    <br>
    <% if f.object.image && f.object.image.url %>
    <img src="<%= f.object.image.url %>" alt="", style="height:50px">
    <% end %>
    <%= f.file_field :image, class: "image_input" %>
  </div>
  <%= link_to_remove_association "remove attachment", f %>
</div>


<script type="text/javascript">
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $(input).parent().find("img").attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $(".image_input").change(function() {
      readURL(this);
    });
</script>
