<h1>Projects:</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |x| %>
      <tr>
        <th><%= x.name %></th>
        <th><%= link_to "Edit", edit_project_path(x.id) %></th>
        <th><%= link_to "Delete", project_path(x.id), method: :delete, remote: true, class: "delete_project" %></th>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Create new project", new_project_path %>
