$('#error_explanation').html("");
<% if @project.valid? %>
  $('#success_alert').append("<div class='alert alert-success' role='alert'>Project succesfully updated!</div>");
<% else %>
  <% @project.errors.full_messages.each do |message| %>
    $('#error_explanation').append("<li> <%= escape_javascript(message) %> </li>");
  <% end %>
<% end %>
